<div class="jumbotron">
  <h1>{{title}}</h1>
</div>
<div class="panel-group" id="sectionAccordian">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse"
           data-parent="sectionAccordian"
           href="#contactSection"
           *ngIf="boolContacts">Contact Information</a>
        <a href="#"
           onclick="return false"
           *ngIf="!boolContacts"
           style='color:gray'>Contact Information</a>
        <label class="pull-right switch">
          <input type="checkbox" (click)="toggleContacts()" onClick="$('#contactSection').collapse('hide')" *ngIf="boolContacts" checked>
          <input type="checkbox" (click)="toggleContacts()" *ngIf="!boolContacts" unchecked>
          <div class="slider round"></div>
        </label>
      </h2>
    </div>
    <div id="contactSection" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Remove</th>
          </tr>
          <tr *ngFor="let c of contacts">
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.email }}</td>
            <td>
              <span (click)="removeContact(c)" class="glyphicon glyphicon-minus"></span>
            </td>
          </tr>
        </table>
        <div type="button"  data-toggle="collapse" data-target="#contactForm">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="collapse" id="contactForm">
          <ul style="list-style-type: none">
            <div class="row">
              <li>
                <label>Name/Organization: </label>
                <input [(ngModel)]="nameVal">
              </li>
            </div>
            <div class="row">
              <li>
                <label>Phone Number: </label>
                <input [(ngModel)]="phoneNumVal">
              </li>
            </div>
            <div class="row">
              <li>
                <label>Email: </label>
                <input [(ngModel)]="emailVal">
              </li>
            </div>
          </ul>
          <button class="btn btn-md btn-primary"
                  id="addContactInfo" 
                  data-toggle="collapse" 
                  data-target="#contactForm" 
                  (click)="addContact()">Add Contact</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse"
           data-parent="sectionAccordian"
           href="#advisorySection"
           *ngIf="boolAdvisories">Advisories</a>
        <a href="#"
           onclick="return false"
           *ngIf="!boolAdvisories"
           style='color:gray'>Advisories</a>
        <label class="pull-right switch">
          <input type="checkbox" (click)="toggleAdvisories()" onClick="$('#advisorySection').collapse('hide')" *ngIf="boolAdvisories" checked>
          <input type="checkbox" (click)="toggleAdvisories()" *ngIf="!boolAdvisories" unchecked>
          <div class="slider round"></div>
        </label>
      </h2>
    </div>
    <div id="advisorySection" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <th>Description</th>
            <th>Remove</th>
          </tr>
          <tr *ngFor="let adv of advisories">
            <td>{{ adv.desc }}</td>
            <td>
              <span (click)="removeAdvisory(adv)" class="glyphicon glyphicon-minus"></span>
            </td>
          </tr>
        </table>
        <div type="button" data-toggle="collapse" data-target="#advisoryForm">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="collapse" id="advisoryForm">
          <ul style="list-style-type: none">
            <div class="row">
              <li>
                <label>Message: </label>
                <input [(ngModel)]="advisoryDescVal">
              </li>
            </div>
          </ul>
          <button id="addAdvisory" 
                  class="btn btn-md btn-primary" 
                  data-toggle="collapse"
                  data-target="#advisoryForm"
                  (click)="addAdvisory()">Add Advisory</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse"
           data-parent="sectionAccordian"
           href="#locationSection"
           *ngIf="boolLocations">Key Locations</a>
        <a href="#"
           onclick="return false"
           *ngIf="!boolLocations"
           style='color:gray'>Key Locations</a>
        <label class="pull-right switch">
          <input type="checkbox" (click)="toggleLocations()" onClick="$('#locationSection').collapse('hide')" *ngIf="boolLocations" checked>
          <input type="checkbox" (click)="toggleLocations()" *ngIf="!boolLocations" unchecked>
          <div class="slider round"></div>
        </label>
      </h2>
    </div>
    <div id="locationSection" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <th>Remove</th>
          </tr>
          <tr *ngFor="let loc of locations">
            <td>{{ loc.name }}</td>
            <td>{{ loc.address }}</td>
            <td>{{ loc.desc }}</td>
            <td>
              <span (click)="removeLocation(loc)" class="glyphicon glyphicon-minus"></span>
            </td>
          </tr>
        </table>
        <div type="button" data-toggle="collapse" data-target="#locationForm">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="collapse" id="locationForm">
          <ul style="list-style-type: none">
            <div class="row">
              <li>
                <label>Name: </label>
                <input [(ngModel)]="locNameVal">
              </li>
            </div>
            <div class="row">
              <li>
                <label>Address: </label>
                <input [(ngModel)]="locAddressVal">
              </li>
            </div>
            <div class="row">
              <li>
                <label>Description: </label>
                <input [(ngModel)]="locDescVal">
              </li>
            </div>
          </ul>
          <button id="addLocation" 
                  data-toggle="collapse"
                  class="btn btn-md btn-primary"
                  data-target="#locationForm"
                  (click)="addLocation()">Add Location</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-lg btn-primary" 
        id="sendBound"
        (click)="sendBoundVariables()">Update Website</button>
