<html>
  <head>
    <script>
        $(document).ready(function(){
            $("#dTable").DataTable();
        });
    </script>
  </head>
  <body>
    <div class="hubHeader jumbotron">
      <p class="hubTitle">
        {{ siteName }}
      </p>
      <button class="loadAdmin btn" (click)="loadAdmin()">
        <span class="glyphicon glyphicon-cog"></span>&nbsp;
      </button>
    </div>

    <div class="row" *ngIf="boolAdvisories">
        <advisories [advisories]="advisories"></advisories>
    </div>


    <div *ngIf="boolContacts">
        <contacts [contacts]="contacts"></contacts>
    </div>


    <div *ngIf="boolPrecautions">
        <precautions [precautions]="precautions"></precautions>
    </div>


    <div *ngIf="boolLocations">
        <locations [locations]="locations"></locations>
    </div>


    <div *ngIf="boolSurvivors">
        <survivors [survivors]="survivors"></survivors>
    </div>

    <div class="row">
        <footer class="col-md-12" style="text-align: center">
            Last Updated: {{ lastUpdate }}
        </footer>
    </div>
  </body>
</html>
