<html>
  <head>
    <!-- Data Tables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!-- Data Tables library -->
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#dTable").DataTable();
        });
    </script>
  </head>
  <body>
    <div class="hubHeader jumbotron">
      <p class="hubTitle">
        {{ siteName }}
      </p>
      <button class="loadAdmin btn" (click)="loadAdmin()">
        <span class="glyphicon glyphicon-cog"></span>&nbsp;
      </button>
    </div>
    <div class="row" *ngIf="boolAdvisories">
        <marquee scrollamount="3" id="advisoryTicker" behavior="scroll" direction="left">
            <div style="display: inline"  *ngFor="let adv of advisories">
                <div class="advisoryBlock">{{ adv.msg }}</div>
            </div>
        </marquee>
    </div>
    <div *ngIf="boolContacts">
        <h2>Contact Information</h2>
        <div class="well" style="margin: 10px;"> 
            <div class="container">
                <div class="col-sm-4" *ngFor="let c of contacts">
                <p><b>{{ c.name }}</b></p>
                <p>Phone: {{ c.phone }}</p>
                <p>Email: {{ c.email }}</p>
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="boolPrecautions">
        <h2>Precautionary Checklist</h2>
        <div class="well" style="margin: 10px;"> 
            <div class="container">
                <div *ngFor="let p of precautions">
                  <label>
                  <input type="checkbox">
                  {{ p.desc }}</label>
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="boolLocations">
        <h2>Key Locations</h2>
        <div class="well" style="margin: 10px;">
          <!--<div class="row" *ngFor="let l of googleMapsLinks">
            <iframe width="450" height="250" frameborder="1"
                    style="border:0" src="sanitizer.bypassSecurityTrustResourceUrl({{1}})">
            </iframe>
          </div>-->
           <div class="container">
             <div class="col-sm-4" *ngFor="let loc of locations">
               <p><b>{{ loc.name }}</b></p>
               <p>{{ loc.address }}</p>
               <p>{{ loc.desc }}</p>
             </div>
          </div>
        </div>
    </div>
    <div *ngIf="boolSurvivors">
        <h2>Survivor Verification</h2>
        <div class="well" style="margin: 10px;"> 
          <table id="dTable" class="table display">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of survivors">
                    <td>{{ s.firstName }}</td>
                    <td>{{ s.midInit }}</td>
                    <td>{{ s.lastName }}</td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row">
        <footer class="col-md-12" style="text-align: center">
            Last Updated: {{ lastUpdate }}
        </footer>
    </div>
  </body>
</html>
