.hubHeader {
    background-color: #4078a5;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
}

.hubTitle {
    font-size: 35px;
    float: left;

}

.loadAdmin {
    background-color: transparent;
    font-size: 30px;
    float: right;
    padding-top: 9px;
<<<<<<< HEAD
}

#advisoryTicker{
    background-color: black;
    color: red;
    font-size: x-large;
}

.advisoryBlock{
    display: inline;
}

.jumbotron{
    background: #000 url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.phys.org%2Fnewman%2Fgfx%2Fnews%2Fhires%2F2016%2F11-nasasatellit.jpg&f=1")
}
